.footer-text {
    text-align: center;
    font-weight: 700;
    font-family: "Roboto";
  }
  
  .footer-div {
    margin-top: solid 0.5px #3a75c4;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100% 
  }
  